<h1>Restaurant <%= @restaurant.id %></h1>
<ul>
  <li><%= @restaurant.name %></li>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.phone_number %></li>
  <li><%= @restaurant.category%></li>
</ul>

<%= link_to "Back to list", restaurants_path, class: "btn btn-primary"%>

<%= link_to "Add review", new_restaurant_review_path(@restaurant), class: "btn btn-primary"%>

<%= link_to "See reviews", restaurant_reviews_path(@restaurant), class: "btn btn-primary"%>


